.date{
  font-size: .8em;
}
.linkLine{
  color:#757575 !important;
}
.t-row{
  padding: 0 !important;
}
.modal > div > input[type=text] {
  border-bottom: 1px solid #009688;
  text-indent: 5px;
  font-size: 1.2em;
}
.modal > div > .input-field input[type=text]:focus{
  border-bottom: 1px solid #009688;
  box-shadow: 0 1px 0 0 #009688;
  font-size: 1.2em;
  text-indent:10px;
}
.modal > div > input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #009688;
  box-shadow: 0 1px 0 0 #009688;
}
@media (max-width: 380px) {

}
@media (max-width: 600px) {
  .t-row .date{
    float: right;
  }
  .t-row .linkLine{
    float: left;

  }
}
@media (min-width: 600px) {
  .t-row:nth-of-type(even) .card-action{
    direction:rtl;
  }
  .t-row:nth-of-type(odd) .card-action{
    direction:ltr;
  }
  .t-row:nth-of-type(odd) .date{
    float: left;
  }
  .t-row:nth-of-type(even) .date{
    float: right;
    direction:ltr;
  }
  .t-row:nth-of-type(odd) .linkLine{
    float: right;

  }
  .t-row:nth-of-type(even) .linkLine{
    float: left;
  }
}
